<div class="row pane">
	<h1>Instruments</h1>
	   <tabset justified="true">
	   		<tab heading="Microwave Sources">
	   			<!-- <p ng-repeat="instr in ctrl.microwaveSources()">{{instr.label}}</p> -->
	   			<div class="col-lg-6">
					<div ng-repeat="instr in instrs | filter: {x__module__: 'instruments.MicrowaveSources'}">
						<span>
							<input type="checkbox" ng-model="instr.selected">
							<a ng-click="selectInstr(instr)">{{instr.label}}</a>
						</span>
					</div>
				</div>
	   		</tab>
	   		<tab heading="AWGs">
	   			<div class="col-lg-6">
					<div ng-repeat="instr in instrs | filter: {x__module__: 'instruments.AWGs'}">
						<span>
							<input type="checkbox" ng-model="instr.selected">
							<a ng-click="selectInstr(instr)">{{instr.label}}</a>
						</span>
					</div>
				</div>
	   		</tab>

	   		<tab heading="Others">
	   			<div class="col-lg-6">
					<div ng-repeat="instr in instrs">
						<span>
							<input type="checkbox" ng-model="instr.selected">
							<a ng-click="selectInstr(instr)">{{instr.label}}</a>
						</span>
					</div>
				</div>
	   		</tab>
	   </tabset>
</div>